/* Mobile first queries */
.centro {
   text-align: center;
}

.right {
   float:right;
   position: relative;
}

.post {
   border: 1px solid #bbb;
   margin-bottom: 1em;
   border-radius: 10px;
}
.addForm {
   border: 1px solid black;
}

label {
   text-align: center;
}

.delup {
   margin-top: 1em;
   margin-right: 1em;
   float:right;
}

img {
   margin-top: 1em;
   margin-bottom: 1em;
   width: 100%;
   float: left;
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 660px, max-width: 750px) {
   img {
      width: 60%;
      float: none;
      margin: 0;
      margin-left: 5em;
   }
   .right {
      float:none;
      position: relative;
      margin-left: 7em;
   }
   .delup {
      margin-left: 5em;
      float: none;
   }
}

/* Larger than tablet */
@media (min-width: 750px) {
   img {
      width: 40%;
   }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
