.centro {
   text-align: center;
}

.right {
   float:right;
   position: relative;
}

.post {
   border: 1px solid #bbb;
   margin-bottom: 1em;
   border-radius: 10px;
}
.addForm {
   border: 1px solid black;
}

label {
   text-align: center;
}

.delup {
   margin-top: 1em;
   margin-right: 1em;
   float:right;
}

img {
   margin-top: 1em;
   margin-bottom: 1em;
   width: 40%;
   float: left;
}
